* {
  padding: 0;
  margin: 0;
}

#HomepageBg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(250, 247, 233);
  background-repeat: no-repeat;
  background-size: cover;
}

#HomepageFace {
  cursor: pointer;
  margin: 2% 0 0 0%;
  display: inline-block;
  width: 19%;
  height: 45%;
  background-image: url('../../assets/images/face.png');
  background-repeat: no-repeat;
  background-size: contain;
	-webkit-animation: roll-in-left 1.2s ease-out both;
  animation: roll-in-left 1.2s ease-out both;
  animation-delay: 2.4s;
  -webkit-animation-delay: 2.4s;
}

#HomepageFace:hover {
  background-image: url('../../assets/images/sayanface.png');
}

h1 {
  letter-spacing: 12px;
  font-family: 'Wallpoet', cursive;
  text-align: center;
  font-weight: 600;
}

h1 span span {
  position: relative;
  animation: move-text-color 0.75s forwards;
  bottom: -1em;
  opacity: 0;
  word-wrap: normal;
}

@keyframes move-text-color {
  0% {
    bottom: -0.2em;
    opacity: 1;
    color: #3E5C76;
  }
  
  50% {
    bottom: 0.2em;
    color: #EC058E;
  }

  100% {
    bottom: 0;
    opacity: 1;
    color: #cb3126;
  }
}

@-webkit-keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

@media screen and (max-width: 500px) {
  body {
    transform: scale(0.75);
  }
}
