#HomepageContainer {
  top: 5%;
  left: 0;
  background: linear-gradient(to right, rgba(247, 64, 51, 0.897) 63%, rgba(230, 74, 47, 0.842) 20%, white 0%, white 50%);
  width: 80%;
  height: 90%;
  position: absolute;
}

#HomepageText {
  position: absolute;
  font-weight: 900;
  font-size: 5em;
}