.Card {
  display: inline-block;
  align-content: center;
  width: 94%;
  height: 60%;
  background-color: rgb(250, 247, 233);
  border: 2px #eee;
  box-shadow: 0 0 2px 4px black;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 0px;
  margin: 2% -4% 1.5% 0px;
  cursor: pointer;

  & img {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 6px;
  }
}

.ProgressBar {
  height: 6px;
  width: 100vw;
  background-color: #FB8096;
  z-index: 9999;
  position: fixed;
  top: 0px;
  animation: slideInFromLeft 2.3s 1 ease-in-out, fadeIn 0s 1 forwards;
}

.ProjectList {
  background-color: rgb(250, 247, 233);
  opacity: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  overflow: auto;

  &__RightSide {
    padding-top: 1%;
    margin: 10% 1% 1% 1%;
    float: left;
    width: 98%;
    height: 98%;
  }

  &__LeftSide {
    margin: 1%;
    float: left;
    width: 98%;
    height: 98%;

    &__AboutMe {
      width: 45.5%;
      height: 80%;
      padding: 5px;
      margin: 2% 0% 4% 0.5%;
      align-content: center;
      box-sizing: border-box;
    }
  }
}

.Bottom {
  padding-bottom: 6%;
}

h2 {
  letter-spacing: 12px;
  font-family: 'Wallpoet', cursive;
  text-align: center;
  font-weight: 600;
  margin: -0.5% 1% 1% 1%;
  float: left;
  width: 48%;
  height: auto;
  font-size: 2vw;
}

h3 {
  letter-spacing: 12px;
  font-family: 'Wallpoet', cursive;
  text-align: center;
  font-weight: 600;
  margin: -4.5% 1% 1% 1%;
  float: left;
  width: 100%;
  height: auto;
  font-size: 4vw;
}

h4 {
  text-transform: uppercase;
  margin: 5% 0 0 0;
  text-align: center;
  font-family: 'Piedra', cursive;
  font-weight: 100;
  letter-spacing: 3px;
  height: 20%;
  padding: 5% 5% 2% 5%;
  font-size: 1.8vw;
  margin-top: 17%;
}

@media screen and (max-width: 700px) {
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    color: black;
    background-color: black;
  }
  .Bottom {
    padding-bottom: 0;
  }

  .ProjectList {
    &__LeftSide {
      width: 99%;
      height: 35%;
      margin: 0 0 0 0;
      padding: 0;

      &__AboutMe {
        width: 100%;
        position: relative;
        padding: 1%;  
      }
    }

    &__RightSide {
      margin: 42% 0 0 0;
      padding: 0;
      width: 96.5%;
      height: 38%;
      overflow: auto;    
    }
  }

  .Card {
    height: 95%;
    margin: 2% -2% 2% 0;
  }
  h4 {
    font-size: 4vw;
    padding: 5% 0 2% 0;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}