.Button {
  color: rgb(250, 247, 233);
  box-sizing: border-box;
  background-color: black;
  border-radius: 6px;
  border: 1px #eee;
  box-shadow: 0 2px 5px black;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 2.8% 2.5%;
  margin: 10px;
}
