#ProjectViewContainer {
  z-index: 105;
  position: fixed;
  margin: 7% 0 0 13%;
  width: 74%;
  height: 75%;
  background-color: rgb(250, 247, 233);
  background-repeat: no-repeat;
  background-size: cover; 
  border: 2px #eee;
  box-shadow: 0 0 5px 5px black;
  align-content: center;
  box-sizing: border-box;
  border-radius: 6px;
}

#LeftSide {
  margin: 1%;
  float: left;
  width: 48%;
  height: 98%;
}

#RightSide {
  margin: 1%;
  float: left;
  width: 48%;
  height: 98%;
}

#Title {

}

#Github {

}

#Website {

}

#Gif {
  
}

#Description {

}
