#ProjectViewContainer {
  z-index: 105;
  position: fixed;
  margin: 7% 0 0 15%;
  width: 70%;
  height: 72%;
  background-color: rgb(250, 247, 233);
  background-repeat: no-repeat;
  background-size: cover; 
  border: 2px #eee;
  box-shadow: 0 0 2px 4px black;
  align-content: center;
  box-sizing: border-box;
  border-radius: 6px;
}

#LeftSide {
  margin: 1%;
  float: left;
  width: 48%;
  height: 98%;
}

#RightSide {
  margin: 1%;
  float: left;
  width: 48%;
  height: 98%;
}

#Title {
  margin: 15% 0 0 0;
  letter-spacing: 8px;
  font-family: 'Wallpoet', cursive;
  text-align: center;
  font-weight: 1000;
  font-size: 3.4vw;
}

#Description {
  margin: 5% 0 5% 0;
  text-align: center;
  font-family: 'Wallpoet', cursive;
  letter-spacing: 0px;
  height: 30%;
  padding: 5%;
  font-size: 1.7vw;
}

#Github {
  float: left;
  width: 50%;
  height: 10%;
}

#Website {
  float: left;
  width: 50%;
  height: 10%;
}

#Gif {
  margin: 5% 0 0 0;
  height: 90%;
  width: 90%; 
  display: inline-block;
  align-content: center;
  box-sizing: border-box;
}

#Gif img {
  height: 100%;
  width: 100%; 
}
