#ProjectViewContainer {
  z-index: 105;
  position: fixed;
  margin: 7% 0 0 5%;
  width: 90%;
  height: 72%;
  background-color: rgb(250, 247, 233);
  background-repeat: no-repeat;
  background-size: cover; 
  border: 2px #eee;
  box-shadow: 0 0 2px 4px black;
  align-content: center;
  box-sizing: border-box;
  border-radius: 6px;
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#LeftSide {
  margin: 1%;
  float: left;
  width: 48%;
  height: 98%;
}

#RightSide {
  margin: 1%;
  float: left;
  width: 48%;
  height: 98%;
}

#Title {
  margin: 15% 0 0 0;
  letter-spacing: 0px;
  font-family: 'Wallpoet', cursive;
  text-align: center;
  font-weight: 1000;
  font-size: 3.8vw;
}

#Description {
  text-transform: uppercase;
  margin: 5% 0 0 0;
  text-align: center;
  font-family: 'Piedra', cursive;
  font-weight: 100;
  letter-spacing: 0px;
  height: 20%;
  padding: 5%;
  font-size: 1.7vw;
}

#Github {
  float: left;
  width: 50%;
  height: 10%;
}

#Website {
  float: left;
  width: 50%;
  height: 10%;
}

#Gif {
  margin: 3% 0 0 4%;
  height: 90%;
  width: 90%; 
  display: inline-block;
  align-content: center;
  border: 2px #eee;
  box-shadow: 0 0 2px 4px black;
  border-radius: 6px;
  box-sizing: border-box;
}

#Gif img {
  height: 100%;
  width: 100%; 
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
